.feed {
    padding-bottom: 71px;
    &__item {
        margin-top: 100px;
        width: 890px;
        display: flex;
        &:nth-child(2) {
            margin-top: 70px;
        }
        img {
            width: 169px;
            height: 169px;
        }
    }
    &__text {
        width: 656px;
        margin-left: 62px;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__count {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        margin-top: 19px;
    }



}